<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width"/>     

    <script src="javascripts/vendor/jquery-2.1.4.js"></script>  
    <script src="javascripts/vendor/angular.min.js"></script>
    <script src="javascripts/vendor/angular-ui-router.min.js"></script>
    <script src="javascripts/vendor/d3.min.js"></script> 
      
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js" integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ==" crossorigin="anonymous"></script>

    <link href="stylesheets/main.css" rel="stylesheet" />
    <link href="stylesheets/userpage.css" rel="stylesheet" />
  </head>
  
  <body ng-app="MyApp" >
    <div class="container">
      <!-- Static navbar -->
      <nav class="navbar navbar-default" ng-controller="navController">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" id="burger">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>

            <a class="navbar-brand" href="/#/firstpage" id="appName">Voting App</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              <li ng-show="isLoggedIn()"><a href="/#/userpage" data-toggle="collapse" data-target="#navbar.in">{{ currentUser() }}</a></li>
              <li ng-show="isLoggedIn()"><a href="" data-toggle="collapse" data-target="#navbar.in" ng-click="logOut()">Log Out</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/signup" data-toggle="collapse" data-target="#navbar.in">SignUp</a></li>
              <li ng-hide="isLoggedIn()"><a href="/#/login" data-toggle="collapse" data-target="#navbar.in">Login</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>

      <!-- Main component for a primary marketing message or call to action -->
      <div ui-view></div>
    </div> <!-- /container -->
     
    
    <!-- Modules -->
    <script src="javascripts/angularApp.js"></script>

    <!-- Controllers-->
    <script src="javascripts/controllers/navController.js"></script>
    <script src="javascripts/controllers/firstpageController.js"></script>
    <script src="javascripts/controllers/loginController.js"></script>
    <script src="javascripts/controllers/signupController.js"></script>
    <script src="javascripts/controllers/userpageController.js"></script>
    <script src="javascripts/controllers/pollsController.js"></script>
    
    <!-- Directives -->
    
    <!-- Factories/Services -->
    <script src="javascripts/factories/authFactory.js"></script>
    <script src="javascripts/factories/pollFactory.js"></script>
    
  </body>
</html>  