#pollpage{
    padding-top: 50px;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 30px;
    line-height: 30px;
    background-color:floralwhite;
}

#plotWrapper{
    padding: 0px;  
}

#d3area{
    padding: 0px;
    margin: 0px;
    position: relative;
    top:10px;
}

#radioOther{
    padding: 0;
}

#other{

}
